body {
    background-color: #e2e7ec;
    font-family: "NeueHansKendrick", sans-serif; 
}

main {
    margin: 90px auto 78px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;
    justify-content: space-between;
    align-content: space-between;
}
.first-img {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 80%), url("images/Layer8.png") no-repeat;
    flex: 0 0 740px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.first-data {
    color: #818181;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    margin: 0 0 20px 44px;
}

.first-title {
    color: white;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 70%;
    margin: 0 0 40px 44px;
}

.block {
    background-color: white;
    flex: 0 1 360px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.under-img {
    display: flex;
    flex-direction: column;
    padding: 20px 28px 20px 28px;
}

.title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    flex: 1 1 auto;
    margin-bottom: 70px;
}

.no-data {
    margin-top: 30px;
}

.data {
    color: #818181;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 10px;
}

.photo {
    width: 56px;
}


footer {
    color: #818181;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}
footer div {
    margin-left: 15px;
}

@font-face {
    font-family: "NeueHansKendrick";  
    src: url("fonts/NeueHansKendrick-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}